html,
body {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #fff;
    width: 100%;
    height: 100%;
}
html {
    font-size: 62.5%;
    font-weight: 300;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
a {
    color: #000;
    text-decoration: none;
    -webkit-transition: color 0.5s linear;
    transition: color 0.5s linear;
}
ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
* {
    box-sizing: border-box;
}
/* preloader */
#preload {
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #000;
    z-index: 1000;
    display: none;
}
#status {
    width: 100px;
    height: 58px;
    padding: 0;
    margin: auto;
    color: #fff;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    border-bottom: 1px solid #fff;
}
#status i {
    font-size: 4em;
}
#status {
    opacity: 1;
    -moz-animation: pulsate 2s ease-out;
    -moz-animation-iteration-count: infinite;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation: pulsate 2s ease-out;
    animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
/* header */
.header-overlay {
    background: #000;
    width: 100%;
    height: 100%;
    position: relative;

}
#page-header {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
   /*  background-color: #fff; */
   background: url(../img/header.jpg) no-repeat 48% center;
   background-size: cover;
   background-attachment: fixed;
    height: 100vh;
}
#page-header:after {
content: '';
display: block;
height: 100%;
    background: rgba(0,0,0,0.5);
}
#page-header .arrow.floating {
    color: #fff;
}
/* nav */
.page-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.page-nav ul {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
   /*  border-bottom: 1px solid lightgray; */
}
.page-nav li {
    display: inline-block;
    padding: 20px 10px;
}
.page-nav a {
    font-size: 15px;
    font-size: 1.5rem;
    margin-right: 10px;
    margin-right: 1rem;
    display: inline-block;
    padding: 0 0 2px 0;
    color: #fff;
    border-bottom: 1px solid transparent;
}
.page-nav a:hover,
.page-nav a.active {
    color: #d3b965 !important;
    border-bottom: 1px solid #d3b965;
}
.page-nav li:last-child a {
    margin-right: 0;
}
.js .page-nav h2 {
    display: none;
}
.show {
    position: fixed;
    background: #fff;
    -webkit-box-shadow: 0px 1px 5px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px -3px rgba(0,0,0,0.75);
box-shadow: 0px 1px 5px -3px rgba(0,0,0,0.75);
}
.page-nav.show a {
    color: #000;
}
/* header caption */
.header-caption {
  position: absolute;
  top: 85%;
  left: 50%;
/*   padding-top: 64px; */
  transform: translate(-50%, -85%);
  padding: 15px;
  width: 90%;
}
.header-caption h1 {
    color: #fff;
}
.header-caption .square {
    background: #fff;
    margin: 10px auto;
    height: 3px;
}
.header-caption p {
    color: #fff;
    margin: 0;
}
.header-caption:after {
    content: '';
    display: block;
    clear: both;
}

/* general */
.section-title {
    font-size: 50px;
    font-size: 5rem;
    font-weight: 300;
    margin: 40px 0 20px;
    margin: 4rem 0 2rem;
}
#info,
#portfolio,
#contact {
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    padding: 40px 0 60px;
    position: relative;
}
.floating {
    -webkit-transition-delay: 2s;
    -webkit-animation-name: floating;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
    -webkit-animation-name: floating;
    animation-name: floating;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.floating > p {
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.floating:last-of-type > p {
    margin-top: 0;
}
.arrow {
    font-size: 20px;
    font-size: 2rem;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}
.show-aside {
    position: fixed;
    bottom: 50px;
    left: 90%;
    width: 50px;
    z-index: 10000;
}
.left-marker,
.right-marker {
    width: 80px;
    height: 5px;
    margin: 0;
    position: absolute;
    bottom: -1px;
    background-color: #000;
    box-sizing: content-box;
}
.left-marker {
    left: 0;
}
.right-marker {
    right: 0;
}
.square {
    width: 5px;
    height: 5px;
    padding: 0;
    margin: 15px auto 30px auto;
    line-height: 0;
    background-color: #000;
}
/* info */
.info-paragraph {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 25px;
    line-height: 2.5rem;
    word-spacing: 2px;
    word-spacing: .2rem;
    text-align: left;
    padding: 0 30px;
    font-weight: 400;
}
.paragraph-list li:after {
    content: "\00b7";
    display: block;
    color: #000;
    font-size: 40px;
    font-size: 4rem;
    font-weight: bold;
}
.skills-section {
    font-size: 3rem;
    margin-bottom: 2rem;
}
/* skill modal */
.modal-toggle,
.submit-btn {
    display: block;
    background: #d3b965;
    color: #fff;
    width: 150px;
    padding: 10px 15px;
    padding: 1rem 1.5rem;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1.5rem auto;
}
.modal-toggle:hover,
.submit-btn:hover {
    color: #000;
}
.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill: #ddd;
}
.modal {
    z-index: 10000;
    left: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    padding: 40px 20px 20px 20px;
    margin: 20px auto;
    position: absolute;
    background-color: transparent;
}
.modal.is-visible {
    visibility: visible;
}
.modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}
.modal.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: #fff;
    max-width: 500px;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
    width: 90%;
    max-height: 38rem;
    overflow: auto;
    margin: auto;
    padding: 2.5rem 0;
}
.modal-transition {
    -webkit-transition: all 0.3s 0.12s;
    transition: all 0.3s 0.12s;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    opacity: 0;
}
.modal.is-visible .modal-transition {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.modal-header,
.modal-content {
    padding: 1.5em 1em .5em;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
    background: none;
    border: 0;
    width: 50px;
    outline: none;
    cursor: pointer;
}
.modal-close:hover {
    background: transparent;
}
.modal-close:hover .icon {
    fill: #777;
}
.modal-item {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
}
.modal-item:after {
    content: "";
    display: block;
    clear: both;
}
.modal-item span {
    background: transparent;
    color: #fff;
    line-height: 3rem;
    padding: 0 5px;
    position: absolute;
}
.progress-skill {
    left: 5px;
}
.modal-item span:nth-of-type(2) {
    color: #000;
    right: 10px;
}
.modal-item > progress {
    display: block;
    height: 3rem;
    width: 100%;
    border: 0;
}
progress::-webkit-progress-bar {
    background-color: #ddd;
}
progress::-webkit-progress-value {
    background-color: #000;
}
progress::-moz-progress-bar {
    background-color: #000;
}
.socials {
    margin: 5rem 0;
}
.socials a {
    display: inline-block;
    width: 50px;
}
.socials a:hover svg {
    fill: #d3b965;
}
/* portfolio */
.grid {
    margin: 30px auto;
}
.grid li {
    display: block;
    float: left;
    width: 100%;
    opacity: 0;
}
.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
    opacity: 1;
}
.grid li a,
.grid li img {
    outline: none;
    border: none;
    display: block;
    max-width: 100%;
}
.grid li.animate {
    -webkit-animation: fadeIn 0.65s ease forwards;
    animation: fadeIn 0.65s ease forwards;
}
.photo-item {
    position: relative;
    overflow: hidden;
    float: left;
    width: 33%;
}
#grid:after {
    content: "";
    display: block;
    clear: both;
}
.photo-item img {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.overbox {
    background: rgba(211, 185, 101, .8);
    background: rgba(120, 120, 120, .8);
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 10;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.photo-item:hover .overbox {
    opacity: 1;
}
.overtext {
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
}
.photo-item .description {
    font-size: 2.2em;
    opacity: 0;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    margin-bottom: 12px;
    margin-bottom: 1.2rem;
}
.photo-item:hover .description,
.photo-item:focus .description {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}
/* contact */

span {
    font-size: 15px;
    font-size: 1.5rem;
    margin-left: 5px;
}
form {
    padding-top: 20px;
    padding-top: 2rem;
    font-weight: 400;
}
label {
    display: block;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 15px 0 7px;
    margin: 1.5rem 0 .7rem;
}
input,
textarea {
    width: 300px;
    width: 30rem;
    padding: 5px;
    background: #fff;
    border: 1px solid #aaa;
    font-family: 'Open Sans', sans-serif;
}
input:focus,
textarea:focus {
    outline: 1px solid #000 !important;
}
.submit-btn {
    border: 0;
    cursor: pointer;
    margin: 40px auto;
    margin: 4rem auto;
    -webkit-transition: color 0.5s linear;
    transition: color 0.5s linear;
}
.contact-text p {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 25px;
    line-height: 2.5rem;
    word-spacing: 2px;
    word-spacing: .2rem;
    padding: 0 30px;
    font-weight: 400;
}
/* footer */
.page-footer {
    padding: 10px 0 50px;
    padding: 1rem 0;
    width: 90%;
    border-top: 1px solid lightgray;
    font-size: 15px;
    font-size: 1.5rem;
    position: relative;
}
.page-footer a {
    font-size: 20px;
    font-size: 2rem;
}
/* animations */
@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1.0;
        )
    }
    100% {
        opacity: 0;
    }
}

@keyframes pulsate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1.0;
        )
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(16%);
        transform: translateY(16%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(16%);
        transform: translateY(16%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@-webkit-keyframes fadeIn {
    0% {} 100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {} 100% {
        opacity: 1;
    }
}
@media only screen and (max-height: 500px) and (orientation: landscape) {
    .header-caption {
      width: 90%;
  }
  .header-caption h1 {
      font-size: 3.2rem !important;
  }
  .header-caption p.subtitle {
      font-size: 1.6rem !important;
  }
    #page-header a.arrow.floating {
        height: 40px !important;
    }
}
/* media queries */
@media only screen and (min-width: 720px) {
    html {
        font-size: 75%;
    }
    #page-header p.subtitle {
        font-size: 25px !important;
    }
    .modal-toggle {
        padding: 1rem 0;
    }
   /*  .header-caption h1 {
       font-size: 4.5rem;
   } */
    .paragraph-list li {
        float: left;
        width: 50%;
        margin-bottom: 2rem;
    }
    .paragraph-list li:last-child {
        clear: both;
        margin: 0 auto;
        float: none;
    }
    .paragraph-list:after {
        content: "";
        display: block;
        clear: both;
    }
    .grid li {
        float: left;
        width: 50%;
    }
    .grid:after {
        content: "";
        display: block;
        clear: both;
    }
    .show-aside {
        left: 95%;
    }
}
@media (min-width: 960px) {
    .paragraph-list li,
    .paragraph-list li:last-child {
        float: left;
        width: 33%;
        margin-bottom: 2rem;
    }
    .paragraph-list li:last-child {
        clear: none;
    }
    .grid li {
        width: 33%;
    }
    #contact > ul li {
        float: left;
        width: 50%;
    }
    #contact > ul:after {
        content: "";
        display: block;
        clear: both;
    }
    .contact-text {
        height: 410px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}